.replayAndSearchCounts {
  color: gray;
  font-size: 12px;
}

.publishTimeAndAuthorAndTheme {
  font-size: 12px;
}

.publishTime {
  color: green;
}

.author {
  text-decoration: underline;
}

.theme {
  text-decoration: underline;
}

.hightLightContent {
  color: red;
}